@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
/* 컨테이너 스타일 설정 */
.container {
    position: relative;
    height: 88vh;
    width: 95vw;
    text-align: center;
    font-family: 'SUITE-Regular', sans-serif;
}

.subcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
    background-color: #def9fe;
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
    top: 0;
    left: 0;
    height: 3rem;
    width: 70vw;
    z-index: 1000;
    font-family: 'SUITE-Regular', sans-serif;
    font-weight: bold;
}
.button-55 {
    font-family: 'SUITE-Regular', sans-serif;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    line-height: 23px;
    outline: none;
    padding: 1.3rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-55:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
.mic {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn button {
    font-family: 'SUITE-Regular', sans-serif;
    margin: 1.2rem;
    padding: 1.2rem;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}
.btn:hover button {
    background-position: right center;
}
.btn-4 {
    background-color: white;
}
.mic img {
    width: 3rem;
    height: 3rem;
}

.creater {
    padding-top: 0.5rem;
    font-size: 1.4rem;
}

.blank {
    font-size: 4rem;
}

.image {
    width: 23rem;
    height: 14srem;
}

.info {
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    font-size: 1.6rem;
    font-weight: normal;
}

.title {
    font-size: 3.4rem;
    font-weight: bolder;
}

.code {
    padding: 10px;
    font-size: 3rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-family: SUITE-Regular;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.copy {
    margin-bottom: 2rem;
    padding: 5px 10px;
    font-family: SUITE-Regular;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
}
